* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col {
    width: 30%;
}

.hero-img {
    max-height: 450px;
    object-fit: contain;
}

.logo {
    width: 15%;
    padding: 10px 0 0 20px;
}

.row {
    display: flex;
}

.aic {
    align-items: center;
}

.tac {
    text-align: center;
}

.nav_manu li {
    list-style: none;
    padding: 5px 10px;
}

.nev_icons {
    padding: 10px 10px 0 20px;

}

header {
    background-color: #f6f0e6;
    padding: 0 0 100px;
    
}
.col_30{
    width: 30%;
}

.col_50 {
    width: 50%;
}
.hero-img {
    max-height: 450px;
    object-fit: contain;
}

/* CATEGORY BOX */
.category-box:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
}

/* LARGE BANNER */
.large-banner .banner-img {
    background: url('banner.jpg') center/cover no-repeat;
    height: 450px;
}

.banner-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* PRODUCT CARDS */
.card:hover {
    transform: scale(1.03);
    transition: 0.3s ease-in-out;
}
/* /.....................................................sec_1..................................................../ */
.bg_color {
    background-color: #f6f0e6;
}

.lamp img {
    width: 10%;
    left: 300px;
    top: 28px;
}
.sec_1_right_text{
    padding: 100px 0 0;
}

.sec_1_right_text span{
    color: #9e6747;
}
.sec_1_right_text h1{
    width: 100%;
    font-size: 70px;
}
.sec_1_right_text p{
    color: black;
    font-size: 15px;
    letter-spacing: 2px;
}
.sec_1_right_text button{
    background-color: #9e6747;
    color: white;
    border: none;
    padding: 13px 40px;
}
.sec_1_left_img img{
    width: 45%;
    right: -100px;
    top: -80px;
}

/* /.....................................................sec_2..................................................../ */
.sec_2{
    background-color: #f6f0e6;
}
.sec_2_div_1{
    background-color: #313131;
    color: white;
    border-radius:0 500px 0 0;
}
.sec_2_text_1 span{
    background-color: #313131;
    font-family: sans-serif ;
    padding: 10px 0 0;
}
.sec_2_text_1 button{
    display: block;
    background-color: #9e6747;
    font-family: sans-serif ;
    padding: 10px 30px;
    border: none;
    color: white;
    margin: 30px 0 0;
}
.sec_2_text_1{
    padding: 50px 0 0 50px ;
    
}
.sec_2_div_2{
    margin: 50px 0 0 50px;
}
.sec_2_div_2 h4{
    font-size: 50px;
}
.sec_2_div_2 p{
    width: 70%;
}
.sec_2_cart {
    /* filter: drop-shadow(5px 5px 3px black); */
    border-right: 2px  solid;
}
.sec_2_lamp img{
    /* bottom: 500px; */
    width: 80%;

}
.sec_2_lamp{
    bottom: 40px;
    left:600px;
}